<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyber.orange.creator.mapper.SysVerticalSectorMapper">

    <resultMap id="BaseResultMap" type="com.cyber.orange.creator.domain.SysVerticalSector">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="sector" column="sector" jdbcType="VARCHAR"/>
            <result property="desc" column="desc" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sector,desc
    </sql>
</mapper>
